@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
main{
    width: 95%;
    margin: auto;
    overflow-x: hidden;
}
#noResultMessage{
    display: none;
}
.card{
    box-shadow: 7px 7px 7px #88888873;
}
#result-container,#details-container{
    width: 90%;
    margin: auto;
}
.child{
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.child img{
    margin-left: 70px;
}